<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--引入database.properteis文件-->
	<properties resource="database.properties"/>

	<!--配置mybatis的log实现为LOG4J-->
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<!--取别名-->
	<typeAliases>
		<package name="entity"></package>
	</typeAliases>

	<!--配置mybatis的多套运行环境-->
	<environments default="development">
		<environment id="development">
			<!--事务管理器采用JDBC的事务管理-->
			<transactionManager type="JDBC"></transactionManager>
			<!--数据源-->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>

	<!--映射器-->
	<mappers>
		<mapper resource="dao/WorkingMapper.xml"/>
		<!--<mapper resource="cn/smbms/dao/provider/ProviderMapper.xml"/>-->
		<!--<mapper url="file:///E:/MyBatis/MyBatis/src/cn/smbms/dao/provider/ProviderMapper.xml"/>
		<mapper url="file:///E:/MyBatis/MyBatis/src/cn/smbms/dao/user/UserMapper.xml"/>-->
	</mappers>
</configuration>
